# {{ Role name }}

## Description
{{ Description in English }}
_{{ Description in Russian }}_

## Input parameters
### [{{main.yaml}}](./defaults/main.yaml)
{{ Description in English of arguments }}
_{{ Description in Russian of arguments }}_

```yaml
{{ structure of parameter }}
```

**Example**
```yaml
{{ example of parameter }}
```

### [{{other.yaml}}](./defaults/{{other}}.yaml)
{{ Description in English of arguments }}
_{{ Description in Russian of arguments }}_

```yaml
{{ structure of parameter }}
```

**Example**
```yaml
{{ example of parameter }}
```

## Templates
### [{{template}}.j2](./templates/{{template dile}}.j2)
{{ Description in English }}
_{{ Description in Russian }}_